
.header
{
   display: flex;
  background-color: aqua;
  text-align: center;
  justify-content:space-between;
}


.nav ul { 
  display: flex;
 
}
.nav ul li{
  margin-left: 50px;
  
  
}
.nav ul li a{
color: black;
font-size:18px;
text-decoration: none;
}
.nav ul li a:hover{
  text-decoration: underline;
  color: red;
}